<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <%- include('partials/style.ejs') %>
   
</head>
<body>
        <div class="container">
                <article class="box-shadow">
        
                  
                                <header id="header">
                    
                                                <%- include('partials/header.ejs') %>
                                                    </header>
                    
                   
                            <%- include('partials/nav.ejs') %>


                            <!-----------------------------------------EVENTS PAGE------------------------------------->
        <div class="page" id="eventsPage">
                <div class="events-page">
                  <h1>events</h1>
                  <div class="events-page-para">
                    <p><strong> At Flintstone Pub you never go in vain!</strong> We have something to offer for all ages and
                      interests in our
                      cozy rooms located centrally in the city of smiles. Besides the good atmosphere, you can experience a
                      variety of entertaining events in Aarhus such as live music, sports bar, whiskey tasting, beer pong
                      tournament, pub crawl or maybe you want to rent the pub yourself?</p>
                  </div>
                </div>
      
                <section id="whisky">
                  <div class="container">
                    <div class="whisky-title">
                      <h3>whisky testing</h3>
                    </div>
      
                    <div class="row text-center">
                      <div class="col-md-6">
                        <div class="whisky-para">
                          <p><strong> At Flintstone Pub we are known for our great passion for good whiskey from all over the
                              world.</strong>
                            Of course we would like to share that passion with our faithful guests. Therefore, we offer
                            whiskey tasting every two months for those who are also fond of the golden drops.
      
                            Here will be knowledgeable professionals to guide you through the many different variants and who
                            will happily pour out their expertise. It costs just 250 kroner per person to be with, and that
                            is of course including spirits. Looking for the perfect setting for a man's evening in the city
                            with the boys, whiskey tasting at Flintstone Pub is the perfect bet and the perfect start to the
                            evening!<strong> We hold private / open whiskey tastings on an ongoing basis when we have enough
                              registrations. You sign up for your bartender or at info@flintstonepub.dk</strong></p>
                        </div>
                      </div>
      
                      <div class="col-md-6">
                        <div class="whisky-image">
                          <img src="./img/whisky-glass-1.jpg" alt="">
                        </div>
      
                      </div>
                    </div>
                  </div>
                </section>
      
      
                <section id="sport">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="sport-image">
                          <img src="./img/sportsbar-aarhus.jpg" alt="">
                        </div>
                      </div>
      
                      <div class="col-md-6">
                        <div class="sport">
                          <h3>sports bar</h3>
                        </div>
                        <div class="sport-para">
                          <p><strong>Do you also love sports?</strong> A cool and well-thought-out draft beer in the glass
                            and your favorite
                            sport on the screen is a combination that most sports nerds rarely say no thanks to. If this is
                            for you, turn past Flintstone Pub. Whether you are bitten by football, golf or paddle riding, we
                            always meet our guests' sports wishes and turn on just the sporting event you will not miss. Here
                            you can catch international matches, the Champions League, the Europa League, the Tour de France,
                            the Wimbledon or the top of the boxing.
      
                            Of course, it all appears on the big screen, so you do not risk missing out on anything. If you
                            dream of experiencing a particular sporting event in a cozy environment with other sporty people,
                            you are always welcome to call our sweet bartender on 86 12 43 44 and hear if we can show your
                            particular match. We cannot promise that your favorite team wins, but we can guarantee that the
                            mood is top notch and the beers are great. We have rights to show matches on TV3 +, Kanal5 and
                            6's.</p>
                        </div>
                      </div>
                    </div>
      
                  </div>
                </section>
      
                <section id="music">
                  <div class="container">
                    <div class="music">
                      <h3>live music</h3>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="music-para">
                          <p><strong> Music must be experienced live.</strong> It is our mantra at Flintstone Pub, and
                            therefore we invite the
                            first and last Friday of every month to live music. As an audience you get a unique and intimate
                            music experience, as you have the opportunity to get very close to our atmospheric rooms.
                            Generally
                            speaking, we are wide-ranging and there is something to come for every taste.
      
                            Among the names of the poster you will find mainly talented bands within the genres of blues,
                            rock
                            and pop. Come and enjoy a drink or a cold beer with good music in the ears, which will definitely
                            make it difficult for the feet to stand still. The dance floor is of course always open to a
                            swing
                            room. The live music starts at. 22 and it is free to enter. If you play music yourself and would
                            like to share your talent with the guests at Aarhus' best pub, you can always send a CD with your
                            or your music. Then we consider whether it fits in with our bar.</p>
                        </div>
                      </div>
      
                      <div class="col-md-6">
                        <div class="music-image">
                          <img src="./img/live-musik-aarhus-1.jpg" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
      
      
                <section id="pong">
                  <div class="container">
      
                    <div class="row">
                      <div class="col-md-6">
                        <div class="pong-image">
                          <img src="./img/beerpong-aarhus.jpg" alt="">
                        </div>
                      </div>
      
                      <div class="col-md-6">
                        <div class="pong">
                          <h3>Beer Pong tournament</h3>
                        </div>
                        <div class="pong-para">
                          <p><strong> Do you have a razor-sharp ball gown and are exactly like a tennis ball,</strong> even
                            when the wet items
                            come inboard? Then you're probably a shark for everyone's favorite drunk beer pong. Now you have
                            a unique opportunity to compete with or against your peers in the glorious discipline at
                            Flintstone Pub in Aarhus. Every other month, we hold a magnificent beerpong turning, where the
                            string is struggling.
      
                            Attendance consists of two people, and there can be a maximum of ten teams. So it is about
                            sticking to if you want the chance to become the beerpong champions of the evening. And that is
                            not what you are going to do about it. The winners run with the golden Flintstone bone - an honor
                            that is only the best in the world. Hear our sweet and funny bartenders when they are ready as
                            hosts for the next event. It will be yabadoosme fun!</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
      
                <section id="loan">
                  <div class="container">
                    <div class="loan">
                      <h3>Borrow the pub</h3>
                    </div>
      
                    <div class="row">
                      <div class="col-md-6">
      
                        <div class="loan-para">
                          <p><strong> Står du og skal fejre noget? En fødselsdag,</strong> et svendegilde eller bare synes,
                            der er anledning
                            til en god fest med alle dine nære, så er Flintstone det oplagte valg. Her får du de hyggeligste
                            rammer og den bedste atmosfære til netop dit event, uanset om I er en stor flok eller blot et
                            lille selskab.
      
                            Vi efterlever netop dine ønsker, så I får den bedst tænkelige aften. Der er også rig mulighed for
                            blot at reserve et bord, hvis du og dine venner vil være sikre på en god plads til aftenens
                            fornøjeligheder. Giv os et kald på 86 12 43 44, så finder vi en løsning til dig.</p>
                        </div>
                      </div>
      
                      <div class="col-md-6">
                        <div class="loan-image">
                          <img src="./img/privatfest-aarhus.jpg" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
      
                </section>
      
                <section id="paw">
                  <div class="container">
      
                    <div class="row">
                      <div class="col-md-6">
                        <div class="paw-image">
                          <img src="./img/pubcrawl-århus.jpg" alt="">
                        </div>
                      </div>
      
                      <div class="col-md-6">
                        <div class="paw">
                          <h3>pub crawl</h3>
                        </div>
                        <div class="paw-para">
                          <p><strong>There is nothing like a good pub crawl!</strong> Take a trip through Aarhus with all
                            your fellow students
                            or colleagues after a long working week. And if there is pub crawl on the program, Flintstone Pub
                            is a mandatory stopover on the route.
      
                            Whatever you start or end here, we offer the best mood, the cheapest prices and music that goes
                            right in the hips or forefinger. Here is a guarantee for a party, whether you are many or few. So
                            remember to swing past flintstones. But beware - you risk being stuck.</p>
                        </div>
                      </div>
                    </div>
      
                  </div>
                </section>
      
                <section id="call-us">
                  <div class="call-us">
                    <h3><a href="">call us for any question +45 53843786</a></h3>
                  </div>
                </section>
      
                <footer>
                        <%- include('partials/footer.ejs') %>
      
                  <div class="copyright">
                    <p>Flintstone Pub | CVR: 17297295 |  Gratis og lynhurtigt WIFI |</p>
                  </div>
                </footer>
              </div>
                        
                </article>
            </div>


 <%- include('partials/js-file.ejs') %>
</body>
</html>