<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <%- include('partials/style.ejs') %>
   
</head>
<body>
        <div class="container">
                <article class="box-shadow">
                                <header id="header">
                    
                            <%- include('partials/header.ejs') %>
                                </header>
                    
                            <%- include('partials/nav.ejs') %>



                            <!-----------------------------quiz page-------------------------->
               <div class="page" id="quizPage">
                <section id="quiz">
                  <h1>quiz night</h1>
                  <div class="underline2"></div>
                </section>
      
                <section id="pub">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="pub">
                          <h3>Challenge your friends in Aarhus' best pub quiz</h3>
                        </div>
      
                        <div class="pub-para">
                          <p>Are you looking for a way to put a little bit of time into an otherwise slightly gray everyday
                            evening? Then take your smartest friends under your arm and visit the Flintstone Pub. Here you do
                            not have to wait for the weekend to get a cozy and fun evening in the city. On the first and last
                            Tuesday of each month, Flintstone Pub opens its doors to the pub quiz. Here is the guarantee of
                            sharp competition, good atmosphere and high mood behind the bar. We dare to call our quiz evening
                            the best and most fun in Aarhus, and even though it is fun enough just to be there, there is of
                            course a fantastic prize for the winners. If you and your team manage to outperform all the
                            others, you get nothing less than a whole bottle of splash with accessories. And just calm down -
                            it can of course also be saved for other evenings if the work or study call early Wednesday
                            morning.</p>
                        </div>
                      </div>
      
                      <div class="col-md-6">
                        <div class="pub-image">
                          <img src="./img/pubquiz-aarhus.jpg" alt="">
                        </div>
      
                      </div>
                    </div>
                  </div>
                </section>
      
                <section id="quiz-night">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="pub-quiz-night-image">
                          <img src="./img/pub-quiz-night-århus.jpg" alt="">
                        </div>
      
                      </div>
      
                      <div class="col-md-6">
                        <div class="quiz-night">
                          <h3>A good Tuesday evening with quiz night</h3>
                        </div>
                        <div class="quiz-night-para">
                          <p><strong> So there is a stove in the oven for a good evening if you are part of the quiz with us.</strong>
                            Here you
                            will be tested in the knowledge of everything from the king's kingdom to sports and geography.
                            However, you should not be scared if you are not the big bezzerwisser, as there is of course also
                            plenty of opportunity to just enjoy the good atmosphere and a cold draft beer in our cozy rooms.
                            It's free to join, and as something special, students get a discount on beer. So there is no
                            excuse not to forget the homework a little and spend a Tuesday night with the fellow students at
                            Flintstone Pub in the heart of Aarhus.<strong>Here you can together use your knowledge to dive
                              yourself
                              into an even more fun evening and even with beer in the glass at SU-friendly prices.
                              The quiz starts at. 20:00 and lasts 1.5 hours,</strong> but of course you are more than welcome
                            to be
                            hanged when the winners have been voted. The party never stops at Flintsone Pub.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
      
      
                <section id="call-us">
                  <div class="call-us">
                    <h3><a href="">call us for any question +45 53843786</a></h3>
                  </div>
                </section>
      
                <footer>
                  <%- include('partials/footer.ejs') %>
      
                  <div class="copyright">
                    <p>Flintstone Pub | CVR: 17297295 |  Gratis og lynhurtigt WIFI |</p>
                  </div>
                </footer>
              </div>
      
      <!-------------------------------END OF QUIZ PAGE-->
                        
                </article>
            </div>


    <%- include('partials/js-file.ejs') %>
</body>
</html>